body{
    /* background-image: url(../images/elven-city-coast.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-attachment:center;
    background-size:cover; */
    margin:0px;
    padding:0px;
    font-family: "Arvo", serif;
    box-sizing: border-box;
}

h1{
    color:#eaf4f4;
    font-family: "Arvo", serif;
    font-size: 50px;
    text-align: center;
}

h2{
    font-family: "Arvo", serif;
    font-size:40px;
    text-align: center;
}

h3

#header{
    background-color:#2f3e46;
    display:inline-block;
    height:auto;
    text-align: center;
    margin:0px;
    width:100%;
    padding:10px;
}

.footer{
    border-radius: 10px;
    background: rgba(202, 210, 197, 0.85);
    padding:20px;
    padding-top:10px;
    max-width: max-content;
    text-align: center;
    grid-column-end: span 2;
    align-content: center;
    height:50%;
}
