body{
    background-image: url(../images/elven-city-coast.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-attachment:center;
    background-size:cover;
    margin:0px;
    padding:0px;
    font-family: "Arvo", serif;
    box-sizing: border-box;
}

h1{
    font-family: "Arvo", serif;
    font-size: 50px;
}

h2{
    font-family: "Arvo", serif;
    font-size:40px;
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align:center;
}

footer{
    text-align: center;
}

.footer{
    background-color:#2f3e46;
    display:block;
    height:auto;
    text-align: center;
    padding:20px;
    margin-top:10px;
    margin-left:auto;
    margin-right: auto;
    width:100%;
    padding:10px;
    color:#eaf4f4;
    box-sizing: border-box;
}
  
.header{
    display:block;
    background-color:#2f3e46;
    display:block;
    width:100%;
    text-align: center;
    margin:0px;
    padding:10px;
    color:#eaf4f4;
}

#under-header{
  display: block;
  background-color: rgba(202, 210, 197, 0.90);
  width:100%;
  text-align: center;
  margin:0px;
  border-top: 5px ridge #84a98c;
  border-bottom: 5px ridge #84a98c;
  margin-bottom: 20px;
}
.grid-container{
    display:grid;
    max-width:max-content;
    gap:15px;
    padding:20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 3fr 1fr;
 }

.grid-item{
    border-radius: 10px;
    background: rgba(202, 210, 197, 0.85);
    padding:20px;
    padding-top:10px;
    max-width: 100%;
    text-align: center;
 }

.top-grid{
    border-radius: 10px;
    background: rgba(202, 210, 197, 0.85);
    padding:20px;
    padding-top:10px;
    max-width: max-content;
    text-align: center;
    grid-column-end: span 3;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

#footer{
    border-radius: 10px;
    background: rgba(202, 210, 197, 0.85);
    padding:20px;
    padding-top:10px;
    max-width: 100%;
    text-align: center;
    grid-column-end: span 3;
    align-content: center;
    height:50%;
}

.button{
    background: #52796f;
    display:inline-block;
    border:none;
    border-radius: 2px;
    text-decoration: none;
    font-size: 24px;
    font-family: "Arvo", serif;
    color:#eaf4f4;
    margin:10px;
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
}

.quote{
    display:inline-block;
    font-style: oblique;
    background-color: #52796f;
    padding:15px;
    border-radius: 2px;
    color:#eaf4f4;
    min-width:50%;
    max-width: 50%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(202, 210, 197, 0.85);
  }

  .modal-content {
    margin: 10% auto;
    padding: 20px;
    background-color: #cad2c5;
    width: 60%;
    border-radius: 8px;
  }

  .modal-content img {
    width: 100%;
    height: auto;
  }

  .close-modal {
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
    color: #2f3e46;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
  }

  .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: rgba(202, 210, 197);
    color: #2f3e46;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    left: 50px;
    z-index: 1;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .single-grid{
    display: grid;
    width:100%;
    padding: 20px;
    box-sizing: border-box;
    row-gap: 25px;
  }

  .single-item{
    border-radius: 10px;
    background-color: rgba(202, 210, 197, 0.90);
    width:100%;
    height:max-content;
    padding:15px;
    box-sizing: border-box;
  }

  .highlight{
    display:block;
    margin:15px;
    font-size: 18px;
  }

  .center-text{
    text-align: center;
  }
